#main-container {
  width: 65vw;
}

#side-header-pic{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/about-me.jpg');
  background-size: cover;
  background-position: center;
}
