#mobile-header-container {
  display: none;
}
#desktop-header-container {
  display: block;
  margin: auto;
  width: 100%;
}
#header-table {
  margin: auto;
  width: 60%;
  /* background: red */
}
.nav-container {
  width: 100%;
  height: 2em;
  margin-bottom: 2em;
  text-align: left;
  border-top: 0.15em solid black;
  padding-top: 1em;
  margin-top: 1em;
  font-size: 1.25em;
}
#body-container {
  top:2em;
  width: 60%;
  /* background: blue */
}
h1 {
  font-size: 3em;
  text-align: left
}
h2 {
  font-size: 1.25em;
  text-align: left
}
