#header-img-container {
  width: 25%;
  position: absolute;
  right: 25%;
  top:2em;
  text-align: right;
}
#nav-container {
  position: relative;
  width: 25%;
  margin: 0;
  left: 25%;
  margin-top: 2em;
  text-align: left;
}
#header-name-container {
  position: relative;
  margin: 0;
  top:1em;
  width: 25%;
  left: 25%;
  text-align: left;
}
#body-container {
  top:1em;
  width: 50%;
}
h1 {
  font-size: 3em;
  text-align: left
}
h2 {
  font-size: 1.5em;
  text-align: left
}
