#header-img-container {
  width: 42em;
  height: 16em;
}
#main-header-img {
  width: auto;
}
#header-img-1 {
  background-image: url(../images/me-1.jpg);
  background-size: cover;
  background-position: center;
}
#header-img-2 {
  background-image: url(../images/me-2.jpg);
  background-size: cover;
  background-position: top;
}
#header-img-3 {
  background-image: url(../images/me-3.jpg);
  background-size: cover;
  background-position: center;
}
#body-container {
  width: 50%;
}
