#kpf{
  background-image: url(../images/kpf.jpg);
  background-position: bottom;
}

#dnf{
  background-image: url(../images/lab.jpg);
}

#wt{
  background-image: url(../images/windtunnel.png);
  background-position: center;
}

#dcoc{
  background-image: url(../images/dcoc.jpg);
  background-position: center;
}
