#cfd{
  background-image: url(../images/cfd.jpg);
  background-position: bottom;
}

#ms{
  background-image: url(../images/ms.jpg);
  background-position: center;
}

#kpf{
  background-image: url(../images/kpf.jpg);
  background-position: bottom;
}

#dnf{
  background-image: url(../images/lab.jpg);
}

#wt{
  background-image: url(../images/windtunnel.png);
  background-position: center;
}
