#abo{
  background-image: url(../images/about-button-1.jpg);
  background-position: center 5%;
}

#exp{
  background-image: url(../images/exp-button.png);
}

#act{
  background-image: url(../images/act-button.jpg);
  background-position: center 40%;
}

#pro{
  background-image: url(../images/pro-button.png);
  background-position: center 25%;
}
