body {
	font-family: 'Montserrat';
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

#splash{ 
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

#splash-bg-container {	
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-image: url("images/me-1.JPG");
	background-size: cover;
	background-position: center 0;
}

#splash-container{
	text-align: center;
	vertical-align: middle;
	height: 100vh;
	width: 40vw;
	color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: -40vw;
}

#splash-text {
    position: absolute;
    margin: 0;
    top: 50vh;
    left: 0vw;
    transform: translate(0, -50%);
}


#splash-text b {
	font-size: 2vw;
	color: rgb(167, 183, 212);
}

#about {
	position: absolute;
	top: 100vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(66, 72, 95);
}

#edu {
	position: absolute;
	top: 200vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(184, 115, 83);
}

#act {
	position: absolute;
	top: 300vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(206, 126, 117);
}

#exp {
	position: absolute;
	top: 400vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(207, 185, 177);
}

#pro {
	position: absolute;
	top: 500vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(118, 155, 81);
}

#con {
	position: absolute;
	top: 600vh;
	left: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgb(102, 100, 112);
}

#nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 20px;
	width: 100vw;
	z-index: 99;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(20, 20, 20);
}

#coursework {
	width: 50vw;
	height: 50vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.detail-box {
	display: none;
	position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(66, 72, 95, 0.9);
    color: rgba(66, 72, 95);
}

.detail-box h1 {
	font-size: 2vw;
	color: rgb(213, 192, 117);
}

.detail-box-text {
	position: fixed;
	top: 0;
	left: 40%;
	width: 60%;
	height: 100%;
	overflow: auto;
}

.detail-box-close {
	position: fixed;
	bottom: 15px;
	right: 15px;
	font-size: 1em;
	color: rgb(255, 255, 255);
}

.detail-box-close:hover {
	cursor: pointer;
}

.detail-box-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;	
}

#act1-details .detail-box-image {
	background-image: url("images/asae-3.jpg");
	background-size: cover;
}

.info-box {
	display: none;
	position: fixed;
    margin: 0;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 72, 95, 0.9);
    color: rgba(66, 72, 95);
    border: solid 2px rgb(213, 192, 117);
    border-radius: 50px;
    cursor: pointer;
}

.info-box .text-table {
	width: 100%;
	padding: 10px;
	font-size: 1em;
}

#nav a {
	font-size: 1.25vw;
}

#nav-button {
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 1.5em;
	color: rgb(167, 183, 212);
	z-index: 100;
}

#nav-button:hover {
	cursor: pointer;
}

.content-container {	
	padding-left: 25px;
	padding-right: 25px;
	color: rgb(255, 255, 255);
}

.content-container h1 {
	font-size: 7vw;
	color: rgb(255, 255, 255);
}

.content-container a {
	color: rgb(213, 192, 117);
}

.sub-container {
	overflow-x: auto;
	padding: 25px;
}

.text-table {
	width: 50%;
	padding-right: 25px;
	color: rgb(255, 255, 255);
	font-size: 1em;
}

.text-table td {
	padding: 10px;
}

.act-thumb {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	overflow: hidden;
	text-align: center;
	padding: 0;
	font-size: 1.25em;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.act-thumb:hover {
	height: 250px;
	width: 250px;
	cursor: pointer;
}

#act1 {
	background-image: url("images/asae-1.jpg");
	background-size: 150%;
	background-position: -40px -20;
}

#act2 {
	background-image: url("images/pasae.png");
	background-size: cover;
	background-position: center;
}

#act3 {
	background-image: url("images/qb-team.jpg");
	background-size: cover;
	background-position: -20px 10px;
}

#act4 {
	background-image: url("images/scioly.jpg");
	background-size: cover;
	background-position: -30px 0px;
}

#act5 {
	background-image: url("images/sf.png");
	background-size: 130%;
	background-position: center;
}

#act6 {
	background-image: url("images/elvaq-team.jpg");
	background-size: cover;
	background-position: -35px 0px;
}

.centered-text {
	position: relative;
    top: calc(50% - 0.5em);
}

div::-webkit-scrollbar  {
	background-color: rgba(0, 0, 0, 0);
	width: 10px;
	position: absolute;
}

div::-webkit-scrollbar-thumb  {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50px;
}

div::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.75);
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

a:hover{	
	color: rgb(167, 183, 212);
	cursor: pointer;
}

