#page-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/index.JPG');
  background-size: cover;
  background-position: center;
}
#background-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#main-container {
  position: relative;
  top: 30%;
  margin: auto;
  width: 40em;
  height: 10em;
  text-align: center;
}
#main-container h1 {
  font-size: 4em;
  color: rgb(255, 255, 255);
}
#main-table {
  text-align: center;
  width: 100%;
  height: 25%;
  margin-top: -2em;
  border-top: white 2px solid;
  padding-top: 1em;
}
.smbutt {
  height: 2em;
  width: 5em;
  text-align: center;
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  border: rgba(255, 255, 255, 0) 0px solid;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.smbutt:hover {
  cursor: pointer;
  border-bottom: rgba(255, 255, 255, 1) 3px solid;
}
.butttxt {
  position: relative;
  top: 0.3em;
}
