#bw{
  background-image: url(../images/bearworks.jpg);
  background-position: center;
}

#os{
  background-image: url(../images/orthoslap-2.jpg);
}

#cc{
  background-image: url(../images/calcase-sw.png);
}

#bt{
  background-image: url(../images/calband.jpg);
}

#cat{
  background-image: url(../images/sewickley.jpg);
}

#ich{
  background-image: url(../images/ichiban2.jpg);
  background-position: center;
}

#st{
  background-image: url(../images/st-1.jpg);
}

#ego{
  background-image: url(../images/ego.jpg);
  background-position: bottom;
}

.pic-button-text{
  top: 30%;
}
