#os{
  background-image: url(../images/orthoslap-2.jpg);
}

#cc{
  background-image: url(../images/calcase-sw.png);
}

#bt{
  background-image: url(../images/calband.jpg);
}

#st{
  background-image: url(../images/st-1.jpg);
}

#ego{
  background-image: url(../images/ego.jpg);
}

.pic-button-text{
  top: 30%;
}
