:root {
  --main: rgba(50, 50, 50, 1);
  --main-50: rgba(50, 50, 50, 0.5);
  --accent1: rgba(50,50,50, 1);
  --accent1-50: rgba(50,50,50, 0.5);
  /* --accent2: rgba(238,236,229, 1); */
  --accent2: rgba(255,255,255, 1);
  --accent2-50: rgba(238,236,229, 0.5);
  --accent3: rgba(180, 200, 160, 1);
  --accent3-50: rgba(180, 200, 160, 0.5);
  --accent4: rgba(255, 255, 255, 1);
  --accent4-50: rgba(255, 255, 255, 0.5);
  --hdr-font: "Poppins";
  --content-font: "Poppins";
}

body {
  font-size: 12pt;
  font-family: var(--content-font);
  color:var(--main);
  background: var(--accent2);
  overflow-x: hidden;
  overflow-y: hidden;
  margin:0;
  padding: 0;
}

div, table {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent1);
  transition: 0.25s;
  -webkit-transition: 0.25s;
  font-weight: 400;
  border-bottom: 0;
}

a:hover {
  color:var(--accent3);
}

.content-text a {
  border-bottom: solid 0.1em var(--accent3-50);
}

h2 {
  font-size: 1.5em;
  margin-bottom: -.5em;
}

/* Custom scrollbar styles */

div::-webkit-scrollbar {
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar for horizontal scrolling */
  background-color: rgba(0,0,0,0);
}

div::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
}

div::-webkit-scrollbar-thumb {
  background-color: var(--accent3-50);
  border-radius: 10px; /* Rounded ends */
  border: 3px solid transparent; /* Add a border to increase the click area */
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

div::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:active {
  background-color: var(--accent3); /* Color on hover (optional) */
}

div::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons (arrows) */
}




#main-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  scroll-behavior: smooth;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: overlay;
  overflow-x: auto;
}

#info-button {
    height: 1.25em;
    width: 1.25em;
    margin-left: auto;
    margin-right: 1em;
    margin-top: -1.5em;
}

#info-button img {
    height: 100%;
    width: 100%;
    mix-blend-mode: difference;
}

.content-text {
  font-size: 1.5em;
}

#about-img {
  background:url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  height: 25em;
  width: 25em;
  /* border-radius: 50%; */
  /* margin: auto; */
  /* margin-top: 1em;
  margin-bottom: 0em; */
  margin: 1em;
  float: left;
}

.research-img{
  margin: auto;
}

#research-img-1 {
  background:url('../images/echo_diffusion.png');
  background-size: cover;
  background-position: center;
  height:25em;
  width:25em;
}
#research-img-2 {
  background:url('../images/nonlocality_rti.png');
  background-size: cover;
  background-position: center;
  height:25em;
  width:25em;
}
#research-img-3 {
  background:url('../images/ddsl_airfoil.gif');
  background-size: cover;
  background-position: center;
  height:25em;
  width:25em;
}

.pub-list{
  list-style-type: '- ';
}

.table-container {
width: 100%;
margin: auto;
margin-bottom: 5em;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table td {
  padding: 1em;
}

.table-hdr {
  padding: 0.5em;
}

.content-container {
  position: relative;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  width: 80%;
  min-width: 1100px;
}

.content-text {
  line-height: 2em;
  font-weight:200;
  font-size: 1.25em;
}

#main {
  padding-bottom: 1em;
}

.header-text {
  position:relative;
  width: 100%;
  font-family: var(--hdr-font);
  display: inline-block;
  color: var(--accent1);
  font-weight: 400;
  line-height:1em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  font-size: 5em;
  margin-top: 0em;
}


.header-left:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.6em;
  border-top: 0.1em solid var(--accent3);
  z-index: -1;
}

.header-left span, .header-right span {
  background-color: var(--accent2);
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.header-right {
    text-align:right;
    margin-left: auto;
    right: 0;
}

.header-right:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.6em;
  border-top: 0.1em solid var(--accent3);
  z-index: -1;
}



.button{
	color: var(--accent4);
}

.button:hover{
	color: var(--accent1);
}

.button-container {
  font-weight:600;
  font-family: var(--hdr-font);
  display: inline;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  line-height:2em;
  text-align: center;
  padding: 0.25em 1em;
  font-size: 1.em;
  margin:1em;
}

.button-container a {
  color: var(--accent4);
}

.button-container a:hover {
  border-bottom: 0;
  color: var(--accent2);
}

#splash-text .button-container {
  mix-blend-mode: difference;
}

#splash-text .button-container:hover {
  border-radius: 0.25em;
  background: var(--accent3);
  mix-blend-mode:normal;
}

.skill-img {
  height: 5em;
  padding: 1em;
  transition: all 1s;
  -webkit-transition: all 1s;
}


.footer-container {
    font-size: 1em;
    font-weight: 200;
    text-align: left;
}

.small-icon {
    height: 1em;
    weight: 1em;
    padding: 0 0.1em 0 0.1em;
}

.img-caption {
    width: 100%;
    overflow: hidden;
    margin:0;
    padding: 0;
    font-size: 0.7em;
}

.image-and-caption-container {
  display: inline-block;
  width: 10em;
  height: 15em;
  vertical-align: top;
  margin: 1em;
}

.image-and-caption-img {
    height: 10em;
    width: 10em;
    background-size:cover;
    background-position: center;
}

.square-img {
    width: 10em;
    height: 10em;
    display: block;
    object-fit: cover;
    margin: auto;
}

.plain-img {
  height: auto;
  max-width: 30em;
  width: 70vw;
}

#splash-container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 80vh; /* 50% of the viewport height */
  overflow: hidden;
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  min-height: 800px;
  min-width: 1100px;
}

#splash-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the video is behind any other content */
}

#splash-text {
  font-weight: 100;
  text-align: center;
}

#splash-text h1 {
  margin: 0;
  font-size: 8em;
  font-family: var(--hdr-font);
  font-weight: 700;
  mix-blend-mode: difference;
}

#splash-text p {
  margin: 0;
  font-size: 1.em;
  color: var(--accent4);
  font-family: var(--hdr-font);
  line-height:2em;
  font-weight: 200;
  font-style: italic;
  mix-blend-mode: difference;
}

.empty-text {
  color: transparent; /* Transparent fill */
  -webkit-text-stroke: 0.1em var(--accent4);
  text-stroke: 0.1em var(--accent4);
  font-weight: 900;
}

.block-text {
  color: var(--accent4);
  font-weight: 900;
}

.social-icon {
  height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  mix-blend-mode: difference;
}

.icon-button:hover {
   filter: invert(10%) sepia(8%) saturate(837%) hue-rotate(47deg) brightness(86%) contrast(90%);
   mix-blend-mode: normal;
}

#about-table th, #about-table td{
  padding: 4em;
}

.clickable-image {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.clickable-image:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px var(--accent3-50); /* Adjust values as needed */
}

.search-container {
    display: flex;
}

.search-box {
    position: relative;
    height: 1.5em;
    width: 100%;
}

.search-input {
    width: calc(100% - 25px);
    padding: 0.5em;
    border: 4px solid var(--accent3-50);
    border-radius: 25px;
    font-size: 1em;
    outline: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    margin-bottom: 1em;
    font-family: var(--content-font);
    background-color: var(--accent-2);
}

.search-input:hover{
    border-color: var(--accent3);
    background-color: var(--accent4-50);
}

.search-input::placeholder {
    color: var(--accent1-50);
}

.search-input:focus{
    border-color: var(--accent3);
    background-color: var(--accent4-50);
}


.items-container {
}

.item {
    padding: 10px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-weight: 200;
    padding-left: 1.5em;
    text-indent:-1.5em;
}

.ref-author-highlight {
    font-weight: 400;
}

.ref-title {
    border-bottom: solid 2px var(--main);
}

.ref-journal {
    font-style: italic;
}

#research-table {
}

#research-cell-1 {
    height: 100%;
}

#research-cell-2 {
  height: 100%
}

#research-container {
    height: 70vh;
    min-height: 40em;
}
#research-list {
    margin-top: 1.5em;
    height: calc(100% - 3em);
    overflow: auto;
    font-size: 1.em;
    border: 4px solid var(--accent3-50);
    border-radius: 10px;
    padding: 0.5em 1em 0.5em  1em;
    -webkit-transition:0.25s;
    transition:0.25s;
}

#research-list:hover {
    border-color: var(--accent3);
    background-color: var(--accent4-50);
}


.header-content {
    font-size: 1.75em;
    font-weight: 400;
    margin-top: 0;
}

#project-table {
    height: 50em;
    margin:auto
}

#project-cell-1 {
    height: 100%;
    width: 30em;
    padding-top:2em;
}

#project-cell-2 {
    height: 100%;
    padding-top:2em;
}

.image-cell {
  position: relative;
  padding:0
}

.text-cell {
  vertical-align: top;
}

.text-cell-img {
    height: 12em;
    width: 12em;
    margin: 1em;
    background-size:cover;
    background-position: center;
    display: inline-block;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition:0.25s;
  transition:0.25s;
}

.image-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 0;
}

.image-slider:hover {
    cursor:pointer;
    box-shadow: 0 0 5px 5px var(--accent3-50); /* Adjust values as needed */
}

.image-slider img.active {
  z-index: 2;
}

.text-content {
  height: 100%;
  font-size:1.25em;
  line-height: 2em;
  font-weight: 200;
  overflow-y: auto;
  padding: 0 2em 0 2em;
}

.img-content {
    text-align: center;
}

.dot-container {
  text-align: center;
  display: flex;
  align-items: center; /* Vertically center the dots */
  justify-content: center; /* Horizontally center the dots */
  height: 1em;
  width: 80%;
  margin: auto;
  margin-top:1em;
}

.dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--accent3-50);
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin: 0.5em;

}

.dot:hover {
  background-color: var(--accent3);
}

.dot.active-dot {
  background-color: var(--accent3);
  width: 1.2em;
  height: 1.2em;
}

/* Responsive layout for narrow screens */
@media screen and (max-width: 1500px) {
  #main-container {
    overflow-x: hidden;
  }

  .responsive-table tr {
    display: block;
  }

  .responsive-table td {
    display: block;
    text-align: left;
  }
  .content-container {
    width: 90vw;
    min-width: 0;
  }

  #about-table th, #about-table td, #research-table th, #research-table td, #project-table th, #project-table td{
    padding: 1em;
  }

  #about-img {
      height: 18em;
      width: 18em;
  }

  .research-img {
      height: 15em;
      width: 15em;
  }


    #research-cell-1 {
      font-weight: 200;
      padding-bottom: 1em;
      /* padding: 0; */
    }

    #research-cell-2 {
        padding-top:5em;
    }

    #research-list {
        height: 30em;
    }

    #project-cell-1 {
      width: 20em;
      height: 20em;
      padding: 0;
      margin:auto;
      margin-top:1em;
    }

    #project-cell-2 {
      font-weight: 200;
      padding-bottom: 1em;
      padding-top:2em;
      margin-top:5em;
      padding: 0;
    }


    .square-img {
        width: 5em;
        height:5em;
    }

    .content-text, .text-content {
      font-size:1.25em;
    }
    #research-list {
      font-size:1em;
    }
}

/* Responsive layout for narrow screens */
@media screen and (max-width: 900px) {
  #main-container {
    overflow-x: hidden;
  }

  .responsive-table tr {
    display: block;
  }

  .responsive-table td {
    display: block;
    text-align: left;
  }
  /*
  .responsive-table th,
  .responsive-table td {
    padding: 1em;
  }
  */
  .content-container {
    width: 90vw;
    min-width: 0;
  }

  #about-table th, #about-table td {
    padding: 1em;
  }

  #about-img {
      height: 15em;
      width: 15em;
      float: none;
      margin: auto;
      margin-bottom: 1em;
  }

  .research-img {
      height: 15em;
      width: 15em;
  }

  .content-text {
    font-size: 1em;
  }

  .header-text {
      padding-top: 0em;
      padding-bottom: 0.em;
      font-size: 2em;
      margin-top: 1em;
  }

  .button-container {
      padding: 0.25em 0.5em;
      display: block;
      margin:0.2em;
      font-size:1.em;
  }

  .header-left, .header-right {
      text-align: center;
  }

  #splash-text h1 {
      font-size: 4em;
  }

  #splash-text p {
      font-size: 1em;
  }

  #splash-container {
      min-width: 300px;
  }

  .empty-text {
      -webkit-text-stroke: 0.05em var(--accent2);
      text-stroke: 0.05em var(--accent2);
  }

  #research-cell-1 {
    font-size: 1em;
    font-weight: 200;
    padding-bottom: 1em;
    padding: 0;
  }

  #research-cell-2 {
      padding-top:5em;
  }

  #research-list {
      font-size: 1em;
      height: 30em;
  }

  #project-cell-1 {
    width: 15em;
    height: 15em;
    padding: 0;
    margin:auto;
    margin-top:1em;
  }

  #project-cell-2 {
    font-size: 1em;
    font-weight: 200;
    padding-bottom: 1em;
    padding-top:2em;
    margin-top:5em;
    padding: 0;
  }

  .text-content {
      font-size: 1em;
  }

  .image-td {
      width: 100%;
      height:12em;
      margin-top: 2em;
      margin-bottom: 2em;
  }

  .search-input, #research-list {
    border-width: 2px;
  }
}
