body {
  font-family: Hind;
}
#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
}
#header-name-container {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
}
#header-img-container {
  top: 1em;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}
#header-img-container img {
  border-radius: 100%;
  width: 20em;
  height: 20em;
}
#body-container {
  margin: auto;
  position: relative;
  top: 1em;
  width: 80%;
}
#nav-container {
  position: relative;
  margin:auto;
  width: 80%;
  height: 2em;
  margin-bottom: 2em;
  text-align: center;
}
#nav-table {
  width: 100%;
  border-top: 0.15em solid black;
  /* border-bottom: 0.15em solid black; */
  border-color: rgba(0, 0, 0,0.9);
  table-layout: fixed;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-top: 1em;
}
#footer-container {
  position: relative;
  top: 0;
  width: 100%;
  border-top: 0.2em solid black;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.75em;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-family: Montserrat;
  margin-bottom: 0.5em;
}
h2 {
  text-align: center;
  font-size: 1em;
  font-family: Montserrat;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  font-family: Montserrat;
  margin: auto;
  width: 4em;
  border-bottom: 0.2em solid rgba(0, 0, 0,0.9);
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  color: rgba(20, 63, 123,1);
  font-weight: bold;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
a:hover {
  /* color: rgba(20, 63, 123,0.5); */
  border-bottom: 0.2em solid black;
}
#nav-table a {
  font-size: 1.25em;
}
