body {
  font-family: 'Hind';
  font-size: 1em;
  color: rgb(20, 20, 20);
}

table{
  font-family: 'Hind';
  font-size: 1em;
}

h1 {
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  font-size: 3em;
}

a, table a{
  text-decoration: none;
  color: rgb(0, 122, 185);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover, table a:hover{
  color: rgb(198, 72, 52);
}

#header-container{
  position: relative;
  margin: auto;
  top: 1.5em;
  width: 35em;
  height: 3em;
}

#header{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1 em;
}

#header a{
  color: rgb(20, 20, 20);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header a:hover{
  color: rgb(198, 72, 52);
}

#header h1{
  line-height: 0em;
}

#main-container{
  position: relative;
  margin: auto;
  top: 2.5em;
  width: 30em;
  height: 70vh;
  overflow: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

#main{
  height: 100%;
  width: 100%;
}

#footer-container{
  position: relative;
  margin: auto;
  top: 3.5em;
  height: 3em;
  width: 30em;
}

#footer{
  height: 100%;
  width: 100%;
}

#button-table{
  height: 100%;
  width: 100%;
  text-align: center;
}

#button-table td{
  width: 50%;
  padding: 0;
}

#credits-container{
  font-size: 0.5em;
  width: 100%;
  height: 0.5em;
  position: relative;
  top: -5px;
}

.pic-button{
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.pic-button-text{
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 200%;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  -webkit-transition: all 1s;
  transition: all 1s;
}

.details{
  height: 0;
  overflow: hidden;
}

.details-text{
  height: 40vh;
  overflow: auto;
  text-align: left;
}

.details-cell{
  height: 0;
}

.button-filter{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: 0.5s;
}

.footer-button{
  height: 2em;
  width: auto;
  -webkit-transition: all 0.5s;
  transition: 0.5s;
}

.footer-button:hover{
  height: 2.25em;
  width: auto;
}

.blue-text{
  color: rgb(0, 122, 185);
}

.red-text{
  color: rgb(198, 72, 52);
}

.button-filter.color1:hover{
  background-color: rgba(0, 122, 185, 1);
}

.button-filter.color2:hover{
  background-color: rgba(198, 72, 52, 1);
}

.bubble-pic{
  width: 14em;
  height: auto;
  border-radius: 100%;
  float: right;
  margin: 10px;
}

div::-webkit-scrollbar  {
	background-color: rgba(0, 0, 0, 0);
	width: 10px;
}

div::-webkit-scrollbar-thumb  {
	background-color: rgba(0, 122, 185, 0.75);
	border-radius: 50px;
}

div::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 122, 185, 1);
}
