body{
  overflow: hidden;
  /*background-color: rgb(10, 10, 10);*/
  font-family: 'Playfair Display';
}

#body-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 110vw;
  background-image: url(../images/splash-bg.jpg);
  background-size: cover;
  background-position: -10vw center;
}

#splash-container{
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: 18.5vh;
}

#title-container{
  position: relative;
  left: 0.2em;
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  font-size: 45vmin;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 0;
}

#text-container{
  position: relative;
  top: 30vmin;
  height: 33vmin;
  width: 55vmin;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vmin;
  vertical-align: middle;
  text-align: center;
  font-family: 'Inconsolata';
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a{
  color: rgb(0, 0, 0);
}

a:hover{
  font-weight: bolder;
}
