.content-div {
  width: 90vw;
  text-align: center;
  margin: auto;
}

table {
  width:100%;
  text-align: center;
  /* background: red; */
}

td {
  width: 50%;
  padding: 0.25em;
  /* background: blue; */
}

.nav-button {
  width: 45%;
}

#nav-div {
  margin-top: 1em;
}

#best-atk-div {
  display: none;
}

select {
  width: 8em;
}
