body {
  font-family: 'Karla';
  background-image: url('images/background.jpg');
  background-size: auto;
  color: white;
  padding-bottom: 20px;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  /* background: rgba(255, 255, 255, 0.25); */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
  padding-bottom: -10em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.15em;
  /* color: rgba(0,0,25,1); */
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'Montserrat';
}

#header-div i {
  font-size: 1em;
}

.content-div i {
  font-size: 0.75em;
}

.content-div {
  width: 90vw;
  text-align: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.65);
  color: rgb(20,20,20);
  padding-top: 0.1em;
  margin-top: 1em;
  margin-bottom: -100em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  min-height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
}

table {
  width:100%;
  text-align: center;
  /* background: red; */
}

td {
  width: 50%;
  padding: 0.25em;
  /* background: blue; */
}

.nav-button {
  width: 10em;
  height: 2.5em;
  border-radius: 1em;
  border: 0.1em solid;
  padding: 0.25em;
  transition: 0.25s;
  font-size: 0.7em;
  /* margin-left: 0.25em;
  margin-right: 0.25em; */
}

.nav-button:hover {
  transition: 0.25s;
  cursor: pointer;
}

#nav-div {
  margin-top: 1em;
}

#best-atk-div {
  display: none;
}

select {
  width: 5em;
}

.pkmn-img {
  width: 5em;
  height: auto;
  padding: none;
  margin:none;
}
